#page-historico{
    width: 100vw;
    height: 100vh;
}

#formIdHistorico{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
    align-items: flex-end;
    padding: 0 2rem;
    margin-top: 0.6rem;
}



