.page-candidato{
    width: 100vw;
    height: 100vh;
}
.page-candidato .cadastro-candidato{
    display: flex;
    /* background: rgb(34, 3, 26);  */
    justify-content: center;
    
}
.page-candidato .cadastro-candidato #formulario-candidato{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.page-candidato .cadastro-candidato #formulario-candidato .dados-pessoais{
    display:flex;
    justify-content: space-between;

}
.page-candidato .cadastro-candidato #formulario-candidato .button-carregar-lista-layout{
    padding-top:2rem ;
    height: 18rem;
}

.page-candidato .cadastro-candidato #formulario-candidato .button-carregar-lista-layout button{
    padding: 1rem 3.5rem;
    border-radius: 5rem;
    border: 0.2rem solid var( --color-menu-dark);
    color:var( --color-menu-dark) ;
    background: var(--color-background-input);
    margin-top: 2rem;
    width: 28rem;
}
.page-candidato .cadastro-candidato #formulario-candidato .button-carregar-lista-layout > button:first-child{
    margin-right: 3.8rem;
}
.page-candidato .cadastro-candidato #formulario-candidato button{
    border: none;
    padding: 1rem 3.5rem;
    border-radius: 5rem;
    background:var( --color-menu-dark) ;
    color: var(--color-background-input);
    margin-top: 2rem;
    justify-self: flex-end;
    align-self: flex-end;

}
