.page-candidato{
    width: 100vw;
    height: 100vh;
}
.selectConvenio{
    display: flex;
    padding: 0 2rem;
}
#formulario-candidato {
    margin-top: 3.2rem;
    border: none;
    padding: 1rem 3.5rem;
    display: flex;
    flex-direction: column;
    
}

#formulario-candidato .field-set{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
#formulario-candidato .field-set .field-set-interno {
    display: grid;
    grid-template-columns:1fr 1fr ;
    column-gap: 1rem;
    align-items:center;
    margin-right: 3.2rem;
}
.page-candidato .cadastro-candidato #formulario-candidato .button-carregar-lista-layout{
    /* background: rgb(34, 3, 26);  */
    display: flex;

}
.page-candidato .cadastro-candidato #formulario-candidato .button-carregar-lista-layout button{
    border: 0.2rem solid var( --color-menu-dark);
    color:var( --color-menu-dark) ;
    background: var(--color-background-input);
    margin-top: 2rem;
    width: 28rem;
}

.page-candidato .cadastro-candidato #formulario-candidato button{
    border: none;
    margin-top: 18rem;
    justify-self: flex-end;
    align-self: flex-end;

}
