.page-candidato-express{
    width: 100vw;
    height: 100vh;
}

#formulario-candidato{
    margin-top: 3.2rem;
}

#formulario-candidato {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    border: none;
    padding: 1rem 3.5rem;
    
}

 .cadastro-candidato-express button{
    border: none;
    padding: 1rem 3.5rem;
    margin-left: 80% ;
    border-radius: 5rem;
    background:var( --color-menu-dark) ;
    color: var(--color-background-input);
}


