/*
.listando-candidatos {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    background:red;
}
.listando-candidatos ul li{
    margin: 1% auto;
    width: 95%;
    height: 6rem;
    background:var( --color-background-li);
    padding: 1.8rem;
    color: var( --color-label);
    border-radius: 0.8rem;
    
}

    
}*/

.li-listagem{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 1rem auto;
}

.li-listagem .item{
    width: 90vw;
    height: 4rem;
    padding: 0 1rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--color-background-li);   
    border-radius: 0.8rem;
    color: var( --color-menu-dark);
}